﻿@mixin transition($time) {
  -webkit-transition: all $time ease;
  transition: all $time ease;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin rp-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin rp-tablet-pro {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin rp-pc {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
