﻿body {
	font-family: $font-content;
	padding: 0;
	margin: 0;
}

input:focus, button:focus {
	outline: 0;
}

input::-webkit-input-placeholder {
	color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
input:-ms-input-placeholder {  
	color: #fff !important;  
}

li {
	list-style-type: none;
}

dl, ol, ul {
  margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}