﻿/*fonts*/
$font-header: 'RobotoCondensed-Bold';
$font-title: 'Roboto-Bold';
$font-content: 'Roboto-Light';
$font-special: 'Quicksand-Bold';
$font-other: 'Roboto-Regular';
/*color*/
$color-red-primary: #e31e24;
$color-red-fade: #e41e26;
$color-red-dark: #dc0000;
$color-blue-primary: #153a67;
$color-blue-fade: #4a90e6;
$color-gray-primary: #666;
$color-gray-fade: #999;
$color-gray-dark: #333;
