﻿@import "mixins";
@import "variables";
@import "fonts";
@import "bootstrap-edit";
@import "reset";

/*general*/
.general {
	&__header {
		margin-top: 45px;
		@include rp-pc {
			margin-top: 60px;
		}
		h1 {
			font-family: $font-header;
			font-size: 30px;
			line-height: 28px;
			color: $color-blue-primary;
			text-transform: uppercase;
			@include rp-tablet {
				font-size: 40px;
			}
		}
		p {
			font-size: 15px;
			line-height: 22px;
			color: $color-gray-fade;
			text-align: center;
			max-width: 250px;
			margin-bottom: 15px;
			@include rp-tablet {
				max-width: 100%;
				margin-bottom: 40px;
			}
		}
	}

	&__line {
		color: #c4c4c4;
		width: 130px;
		text-align: center;
		margin: 10px 0;
		&:after {
			content: '';
			position: absolute;
			width: 40px;
			border-top: 1px solid #c4c4c4;
			border-bottom: 1px solid #c4c4c4;
			height: 2px;
			box-sizing: content-box;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
		}

		&:before {
			content: '';
			position: absolute;
			width: 40px;
			border-top: 1px solid #c4c4c4;
			border-bottom: 1px solid #c4c4c4;
			height: 2px;
			box-sizing: content-box;
			top: 50%;
			right: 0;
			@include transform(translateY(-50%));
		}
	}
}

/*header block*/
.header {
	font-size: 15px;
	line-height: 28px;

	img {
    width: auto;
		padding: 25px 0;
	}

	&__top {
		background-color: $color-red-fade;
		&--content {
			font-family: $font-other;
			color: #fff;
			min-height: 36px;
			span {
				margin-right: 36px;
			}
			i {
				font-size: 13px;
				margin-right: 10px;
			}
		}

		&--input {
			background-color: transparent;
			border: none;
			color: #fff;
			max-width: 130px;
		}

		&--button {
			background: url(/themes/theme01/assets/css/images/search.png) no-repeat center;
			text-indent: -9999px;
			white-space: nowrap;
			border: none;
			min-width: 15px;
			cursor: pointer;
		}
	}

	&__menu {
		font-family: $font-header;

		&--nav {
			@include transition(.3s);
			position: fixed;
			top: 0;
			left: -340px;
			height: 100%;
			width: 100%;
			max-width: 300px;
			background: #fff;
			z-index: 9999999;
			opacity: 0;
			@include rp-pc {
				left: auto!important;
				position: relative;
				max-width: 100%;
				opacity: 1!important;
				width: auto;
			}
		}

		&--close {
			@include transition(.3s);
			top: 0;
			right: -40px;
			width: 40px;
			height: 40px;
			background-color: $color-red-primary;
			color: #fff;
			font-size: 20px;
		}

		&--overlay {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.8);
			z-index: 9999999;
			opacity: 0;    
			visibility: hidden;
		}

		&--list {
			min-height: 88px;
		}

		&--item {
			margin: 0 12px;
			display: inline-block;
			padding: 10px 0;
			border-bottom: 1px solid $color-gray-fade;
			@include rp-pc {
				border-bottom: none;
			}
			a {
				text-transform: uppercase;
				color: $color-gray-dark;
				@include transition(.3s);
				&:hover {
					color: $color-red-primary;
				}
			}
		}

		&--button {
			@include transition(.3s);
			height: max-content;
			background-color: transparent;
			padding: 0 12px;
			border: 1px solid $color-red-primary;
			border-radius: 3px;
			color: $color-red-primary;
			cursor: pointer;
			margin-right: 0;
			&:hover {
				background-color: $color-red-primary;
				color: #fff;
			}
		}

		&--bars {
			background-color: $color-red-primary;
			border: none;
			color: #fff;
			min-width: 38px;
			margin: 0 0 0 25px;
			i {
				line-height: 10px;
			}
		}
	}
}

/*slider block*/
.slider {
	&__img {
		overflow: hidden;
		height: 230px;     
		max-height: 230px;
		@include rp-pc {
			min-height: 567px;
		}
		img {
			object-fit: cover;
		}
	}

	&__support {
		@include transform(rotate(270deg))
		font-family: $font-title;
		color: #fff;
		text-transform: uppercase;    
		font-size: 16px;
		padding: 0 12px;
		z-index: 99;
		background-color: $color-red-fade;
		line-height: 36px;
		top: 43%;
    right: -93px;
		cursor: pointer;
		i {
			font-size: 22.16px;
			line-height: 24.17px;
			margin-left: 15px;
		}
	}

	&__fix {
		text-align: right;
		@include rp-pc {
			right: -195px;
		}
	}

	&__arrows > .slick-arrow {
		position: absolute;
		z-index:99;
		background-color: rgba(175, 176, 180, .5);
		border: none;
		width: 46px;
		height: 46px;
		cursor: pointer;
		top: 50%;
		@include transition(.3s);
		@include transform(translateY(-50%));
		&:hover {
			background-color: rgba(197, 197, 197, .5);
		}
		img {
			width: auto;
		}
	}

	&__arrows > .slick-prev {
		left: 0;
		@include rp-tablet {
			left: 2%;
		}
		@include rp-pc {
			left: 8%;
		}
	}

	&__arrows > .slick-next {
		right: 0;
		@include rp-tablet {
			right: 2%;
		}

		@include rp-pc {
			right: 8%;
		}
	}

	&__content {

		@include rp-tablet {
			margin-right: 65px;
		}

		@include rp-pc {
			margin-right: 0;
		}

		h1 {
			font-family: $font-special;
			font-size: 33.14px;
			color: $color-red-primary;
			@include rp-tablet {
				font-size: 33.68px;
			}
			@include rp-pc {
				font-size: 71px;
			}
			span {
				font-size: 33.14px;
				@include rp-tablet {
					font-size: 33.68px;
				}
				@include rp-pc {
					font-size: 71px;
				}
				color: $color-blue-primary;
			}
		}
		hr {
			width: 30px;
			height: 1px;
			background-color: #fff;
			margin: 0 0 10px 0;
			@include rp-tablet {
				width: 35px;
				height: 2px;
				margin: 0 0 20px 0;
			}
			@include rp-pc {
				width: 70px;
				height: 4px;
			}
		}
		p {
			color: #000;
			font-size: 17.74px;
			margin-bottom: 0;
			line-height: 24.74px;
			@include rp-tablet {
				font-size: 18.03px;
				line-height: 25.14px;
			}
			@include rp-pc {
				line-height: 53px;
				font-size: 38px;
			}
		}
		span {
			font-size: 21.47px;
			line-height: 27.07px;
			color: $color-red-dark;
			font-family: $font-header;
			@include rp-tablet {
				font-size: 21.82px;
				line-height: 27.51px;
			}
			@include rp-pc {
				line-height: 53px;
				font-size: 46px;
			}
		}
	}
}

/*hot block*/
.hot {

	background-color: $color-blue-primary;
	min-height: 120px;
	@include rp-tablet {
		min-height: 100px;
	}
	@include rp-pc {
		min-height: 120px;
	}

	&__block {
		max-width: 350px;
		width: 100%;
		color: #fff;
	}

	&__date {
		min-width: 70px;
		height: 70px;
		box-sizing: border-box;
		border: 1px solid $color-blue-fade;
		border-radius: 5px;
		font-size: 20.54px;
		line-height: 30.11px;
		margin-right: 15px;
		&:after {
			content: '';
			background: #5c7595;
			position: absolute;
			width: 60%;
			height: 1px;
			left: 50%;
			top: 48%;
			transform: translateX(-50%);
		}
	}

	&__content {
		@include transition(.3s);
		font-size: 17px;
		line-height: 24px;
		color: #fff;
		&:hover {
			color: #f0f0f0;
		}
	}
}

/*introduce block*/
.introduce {
	line-height: 28px;
  padding: 40px 0;
	@include rp-pc {
		padding: 70px 0;
		background: url(/pic/info.png) no-repeat;
		background-position: 76% 76%;
		background-size: 30%;
	}

	&__fix {
		width: 100%;
		@include rp-pc {
			max-width: 590px
		}
	}

	span {
		font-family: $font-header;
		font-size: 22px;
		color: $color-red-primary;
	}
	h3 {
		font-family: $font-header;
		font-size: 30px;
		color: $color-blue-primary;
		margin: 12px 0 20px;
		@include rp-tablet {
			font-size: 40px;
		}
	}

	p {
		font-size: 15px;
		line-height: 22px;
		color: $color-gray-primary;
		margin-bottom: 20px;
	}

	&__btn {
		font-family: $font-other;
		line-height: 22px;
		font-size: 12px;
		padding: 15px 48px;
		border: 1px solid $color-blue-primary;
		border-radius: 3px;
		background-color: #fff;
		color: $color-blue-primary;
		text-transform: uppercase;
		margin: 5px 0 25px;
		cursor: pointer;
		@include transition(.3s);
		&:hover {
			background-color: $color-blue-primary;
			color: #fff;
		}
	}
}

/*video block*/
.video {
	background: url(/pic/banner/banner-01.jpg) no-repeat center;
	padding: 80px 0;
	color: #fff;

	&__play {
		width: 65px;
		height: 65px;
		border: 3px solid;
		border-radius: 50%;
		background-color: transparent;
		font-size: 22px;
		margin-bottom: 20px;
		cursor: pointer;
		@include transition(.3s);
		&:hover {
			@include transform(scale(1.2));
		}
	}

	&__title {
		text-align: center;
		font-size: 28px;
		line-height: 38px;
		font-family: $font-header;
		max-width: 690px;
		margin-bottom: 15px;
		@include rp-pc {
			max-width: 965px;
		}
	}

	&__decs {
		text-align: center;
		font-size: 15px;
		line-height: 22px;
		max-width: 690px;
		@include rp-pc {
			max-width: 965px;
		}
	}
}

/*reason block*/
.reason {
	background-color: #fbfbfb;
	&__list {
		counter-reset: term;
		padding: 10px 0;
	}

	&__item {
		width: 100%;
		padding-left: 60px;
		margin-bottom: 30px;
		@include rp-tablet {
			width: 50%;
			padding-right: 20px;
		}
		@include rp-tablet {
			width: 33.3333%;
			padding-right: 20px;
		}
		h2 {
			font-size: 18px;
			line-height: 28px;
			color: $color-red-dark;
			font-family: $font-header;
			margin-bottom: 2px;
		}
		p {
			color: $color-gray-primary;
			font-size: 15px;
			line-height: 22px;
		}
		&:before {
			counter-increment: term;
			content: counter(term);
			font-size: 100px;
			font-family: $font-special;
			color: #ebebeb;
			position: absolute;
			left: 0;
			width: 55px;
			display: flex;
			justify-content: center;
			top: -12px;
			line-height: 1;
		}
	}
}

/*program block*/
.program {
	margin-bottom: 30px;
	@include rp-pc {
		margin-bottom: 50px;
	}
	&__post {
		margin-bottom: 10px;
		@include rp-tablet {
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
		}
		@include rp-pc {
			&:first-child {
				padding-right: 30px;
			}
			&:last-child {
				padding-left: 30px;
			}
		}
	}
	&__block {
		padding: 15px;
	  text-align: center;
	}
	&__shadow {
		box-shadow: 0px 0px 1px 1px #f9f9f9;
	}
	&__title {
		font-family: $font-title;
		font-size: 18px;
		line-height: 28px;
		color: $color-blue-primary;
	}
	&__decs {
		font-size: 15px;
		line-height: 22px;
		color: $color-gray-fade;
		text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
	}
	&__btn {
		padding: 10px 15px;
		color: $color-blue-primary;
		border: 1px solid $color-blue-primary;
		background-color: #fff;
		font-family: $font-other;
		font-size: 14px;
    border-radius: 3px;
		margin-bottom: 5px;
		@include transition(.3s);
		cursor: pointer;
		&:hover {
			background-color: $color-blue-primary;
			color: #fff;
		}
	}
	&__image {
		overflow: hidden;
		img {
			@include transform(scale(1));
			@include transition(.3s);
		}
		&:hover .program__image img {
			@include transform(scale(1.2));
		}
	}
}

/*achievement block*/
.achievement {
	background: url(/pic/banner/banner-02.jpg) no-repeat center;
	color: #fff;
	background-size: cover;
	h2 {
		font-size: 30px;
		line-height: 34px;
		font-family: $font-header;
		padding: 20px;
		text-align: center;
    max-width: 220px;
    text-transform: uppercase;
		margin: 0 auto;
		padding: 50px 0 20px;
		@include rp-tablet {
			max-width: 100%;
		}
	}
	p {
		font-size: 15px;
		line-height: 22px;
		text-align: center;
	}
	&__block {
		margin-bottom: 30px;
		&:before {
			content: '';
			width: 40px;
			height: 2px;
			background-color: #e31e24;
			position: absolute;
			bottom: 0;
		}
	}
	&__number {
		font-size: 40px;
		line-height: 22px;
		font-family: $font-title;
		padding: 20px 0;
	}
	&__text {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 15px;
		@include rp-pc {
			padding-bottom: 0;
			padding-left: 20px;
		}
	}
}

/*coach block*/
.coach {
	margin-bottom: 30px;
	&__team {
    margin-top: 40px;
	}
	&__avatar {
    padding: 0 20px;
	}
	&__info {
		border-top: 4px solid $color-blue-primary;
		padding: 20px;
		background-color: #f5f5f5;
	}
	&__name {
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
		color: $color-gray-dark;
		font-family: $font-title;
		&--white {
			color: #fff;
		}
	}
	&__level {
		font-size: 14px;
		line-height: 20px;
		color: $color-gray-fade;
		margin-bottom: 10px;
		&--blue {
			color: $color-blue-fade;
		}
	}
	&__block {
		@include transition(.3s);
		bottom: -250px;
    padding: 17px;
		left: 0;
		background-color: $color-blue-primary;
	}
	&__detail {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
	}
	&__item {
		padding: 0 10px;
		cursor: pointer;
		&:hover .coach__block {
			bottom: 0;
		}
	}
	&__dots {
		margin: 15px 0;
		ul {
			display: flex;
			justify-content: center;
		}
		li.slick-active button {
			background-color: $color-red-primary;
		}
		button {
			width: 10px;
			height: 10px;
			line-height: 0;
			text-indent: -99999999999px;
			padding: 0;
			background-color: #d6d6d6;
			border: none;
			margin: 0 3px;
			cursor: pointer;
		}
	}
}

/*feel block*/
.feel {
	color: #fff;
	background: url(/pic/banner/banner-03.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0 50px;
	&__break {
		top: 0;
    left: 0;
    overflow: hidden;
    height: 1px;
		&:before {
			border-top: 1px dashed #ea8d90;
			content: "";
			position: absolute;
			width: 15px;
			left: 0;
			top: 0;
		}
		&:after {
			border-top: 1px dashed #ea8d90;
			content: "";
			position: absolute;
			top: 0;
			left: 54px;
			width: 100%;
		}
	}
	h2 {
		font-family: $font-header;
		font-size: 30px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
	}
	&__avatar {
		width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
	}
	&__block {
		margin-top: 40px;
		&--top {
			&:before {
				content: '\f10e';
				font-family: FontAwesome;
				position: absolute;
				left: 45px;
				top: -10px;
				background: $color-red-primary;
				display: block;
				border-radius: 50%;
				z-index: 99999999999999999999999999;
				width: 26px;
				line-height: 26px;
				text-align: center;
				border: 2px solid #fff;
				box-sizing: content-box;
			}
		}
		&--bottom {
			padding: 20px;
			margin: 40px 0 20px;
			border: 1px dashed #ea8d90;
			border-radius: 3px;
			font-size: 15px;
			line-height: 24px;
			border-top: none;
			&:before {
				content: '';
				position: absolute;
				width: 26px;
				height: 26px;
				top: -15px;
				left: 22px;
				border-top: 1px dashed #ea8d90;
				border-right: 1px dashed #ea8d90;
				z-index: 9999;
				transform: rotate(-45deg);
				background: transparent;
			}
		}
	}
	&__info {
		margin-left: 20px;
		h4 {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 5px;
			font-family: $font-title;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 0;
		}
	}
	.slick-slide {
		padding: 10px;
	}
	&__dots {
		ul {
			display: flex;
			justify-content: center;
		}
		li.slick-active button {
			background-color: #e27174;
		}
		button {
			width: 10px;
			height: 10px;
			line-height: 0;
			text-indent: -99999999999px;
			padding: 0;
			background-color: #b32529;
			border: none;
			margin: 0 3px;
			cursor: pointer;
		}
	}
}

/*news block*/
.news {
	margin-bottom: 45px;
	&__block {
		padding: 15px;
		&:hover .news__shadow {
			box-shadow: 0 0 5px 1px #cbcbcb
		}
		&:hover .news__img img {
			@include transform(scale(1.2));
		}
	}
	&__shadow {
		box-shadow: 0 0 5px 1px #f4f4f4;
		@include transition(.3s);
	}
	&__info {
		padding: 15px;
	}
	&__title {
		color: #000;
		line-height: 20px;
		font-size: 16px;
		font-family: $font-title;
		display: block;
    margin: 10px 0;
		@include transition(.3s);
		&:hover {
			color: $color-red-primary;
		}
	}
	&__decs {
		font-size: 15px;
		line-height: 22px;
		color: $color-gray-primary;
	}
	&__img {
		overflow: hidden;
		img {
			@include transform(scale(1));
			@include transition(.3s);
		}
	}
}

/*images block*/
.images {
	background-color: $color-blue-primary;
	padding: 1px 0;
	.general__header h1, .general__header p {
		color: #fff;
		max-width: 100%;
	}
	.general__line {
		color: $color-blue-fade;
		&:after {
			border-color: $color-blue-fade;
		}
		&:before {
			border-color: $color-blue-fade;
		}
	}
	&__img {
		background: url(/pic/background.png) no-repeat;
		background-size: contain;
	}
	&__item {
		height: 310px;
		overflow: hidden;
    cursor: pointer;
		@include rp-pc {
			height: 370px;
		}
	}
	&__list {
		height: 309px;
		@include rp-pc {
			height: 368px;
		}
	}
}

/*brand block*/
.brand {
	&__item {
		padding: 10px;
    cursor: pointer;
		@include rp-tablet {
			padding: 15px;
		}
		@include rp-pc {
			padding: 20px;
		}
	}
}

/*footer block*/
.footer {
	background: url(/pic/footer-bg.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	font-size: 15px;
	line-height: 22px;
	padding-top: 45px;
	&__title {
		font-size: 20px;
		line-height: 28px;
		font-family: $font-header;
		padding: 15px 0;
	}
	p {
		margin-bottom: 10px;
	}
	&__link {
		color: #fff;
		@include transition(.3s);
		line-height: 30px;
		&:hover {
			color: $color-blue-fade
		}
		&--red {
			color: $color-red-fade;
		}
	}
	&__hotline {
		padding: 10px;
		bottom: 0;
    background-color: #124784;
    width: 100%;
    left: 0;
		z-index: 999999;
		position: fixed;
		@include rp-tablet {
			position: relative;
			background-color: rgba(74, 144, 230, .4);
			width: max-content;
			margin-top: 5px;
		}
		&--text {
			line-height: 24px;
			padding: 0 10px;
			p {
				margin-bottom: 0;
			}	
			span {
				font-size: 20px;
				font-family: $font-header;
			}
		}
		&--icon {
			width: 50px;
			height: 50px;
			i {
				font-size: 49.11px;
				line-height: 25.26px;
				color: $color-red-fade;
				top: -3px;
			}
			&:after {
				content: '\f095';
				font-family: FontAwesome;
				position: absolute;
				font-size: 24px;
			}
		}
	}
	&__fanpage {
		margin-bottom: 15px;
	}
	&__social {
		width: 25px;
    height: 25px;
		margin-right: 5px;
	}
	&__bottom {
		background-color: rgba(0,0,0,.5);
		color: $color-gray-fade;
		font-size: 15px;
		line-height: 28px;
		padding: 10px 0;
		margin: 30px 0 70px;
		@include rp-tablet {
			margin: 70px 0 0;
		}
	}
}

/*other*/
.scroll {
	opacity: 0;
	right: 3%;
	bottom: 11%;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-family: $font-header;
	cursor: pointer;
	@include transition(.3s);
	z-index: 9999999999999;
	@include rp-pc {
		bottom: 20%;
	}
	&:hover {
		background-color: rgba(0,0,0,.3);
	}
	i {
		font-size: 25px;
	}
}

.message {
	cursor: pointer;
	bottom: 0;
	right: 20px;
	height: 48px;
	min-width: 230px;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	span {
		font-family: $font-title;
	}
}