﻿/*fonts*/
/*color*/
@font-face {
  font-family: 'Quicksand-Bold';
  src: url("../fonts/Quicksand-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"); }

.container {
  max-width: 100%;
  padding: 0 10px; }
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 20px; } }
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 999px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1170px;
      padding: 0; } }

.row {
  margin: 0; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0; }

body {
  font-family: "Roboto-Light";
  padding: 0;
  margin: 0; }

input:focus, button:focus {
  outline: 0; }

input::-webkit-input-placeholder {
  color: #fff !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important; }

input:-ms-input-placeholder {
  color: #fff !important; }

li {
  list-style-type: none; }

dl, ol, ul {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

figure {
  margin: 0; }

/*general*/
.general__header {
  margin-top: 45px; }
  @media only screen and (min-width: 1200px) {
    .general__header {
      margin-top: 60px; } }
  .general__header h1 {
    font-family: "RobotoCondensed-Bold";
    font-size: 30px;
    line-height: 28px;
    color: #153a67;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .general__header h1 {
        font-size: 40px; } }
  .general__header p {
    font-size: 15px;
    line-height: 22px;
    color: #999;
    text-align: center;
    max-width: 250px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 768px) {
      .general__header p {
        max-width: 100%;
        margin-bottom: 40px; } }

.general__line {
  color: #c4c4c4;
  width: 130px;
  text-align: center;
  margin: 10px 0; }
  .general__line:after {
    content: '';
    position: absolute;
    width: 40px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 2px;
    box-sizing: content-box;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .general__line:before {
    content: '';
    position: absolute;
    width: 40px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 2px;
    box-sizing: content-box;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/*header block*/
.header {
  font-size: 15px;
  line-height: 28px; }
  .header img {
    width: auto;
    padding: 25px 0; }
  .header__top {
    background-color: #e41e26; }
    .header__top--content {
      font-family: "Roboto-Regular";
      color: #fff;
      min-height: 36px; }
      .header__top--content span {
        margin-right: 36px; }
      .header__top--content i {
        font-size: 13px;
        margin-right: 10px; }
    .header__top--input {
      background-color: transparent;
      border: none;
      color: #fff;
      max-width: 130px; }
    .header__top--button {
      background: url(/themes/theme01/assets/css/images/search.png) no-repeat center;
      text-indent: -9999px;
      white-space: nowrap;
      border: none;
      min-width: 15px;
      cursor: pointer; }
  .header__menu {
    font-family: "RobotoCondensed-Bold"; }
    .header__menu--nav {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: fixed;
      top: 0;
      left: -340px;
      height: 100%;
      width: 100%;
      max-width: 300px;
      background: #fff;
      z-index: 9999999;
      opacity: 0; }
      @media only screen and (min-width: 1200px) {
        .header__menu--nav {
          left: auto !important;
          position: relative;
          max-width: 100%;
          opacity: 1 !important;
          width: auto; } }
    .header__menu--close {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      top: 0;
      right: -40px;
      width: 40px;
      height: 40px;
      background-color: #e31e24;
      color: #fff;
      font-size: 20px; }
    .header__menu--overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 9999999;
      opacity: 0;
      visibility: hidden; }
    .header__menu--list {
      min-height: 88px; }
    .header__menu--item {
      margin: 0 12px;
      display: inline-block;
      padding: 10px 0;
      border-bottom: 1px solid #999; }
      @media only screen and (min-width: 1200px) {
        .header__menu--item {
          border-bottom: none; } }
      .header__menu--item a {
        text-transform: uppercase;
        color: #333;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header__menu--item a:hover {
          color: #e31e24; }
    .header__menu--button {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      height: max-content;
      background-color: transparent;
      padding: 0 12px;
      border: 1px solid #e31e24;
      border-radius: 3px;
      color: #e31e24;
      cursor: pointer;
      margin-right: 0; }
      .header__menu--button:hover {
        background-color: #e31e24;
        color: #fff; }
    .header__menu--bars {
      background-color: #e31e24;
      border: none;
      color: #fff;
      min-width: 38px;
      margin: 0 0 0 25px; }
      .header__menu--bars i {
        line-height: 10px; }

/*slider block*/
.slider__img {
  overflow: hidden;
  height: 230px;
  max-height: 230px; }
  @media only screen and (min-width: 1200px) {
    .slider__img {
      min-height: 567px; } }
  .slider__img img {
    object-fit: cover; }

.slider__support {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  font-family: "Roboto-Bold";
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 12px;
  z-index: 99;
  background-color: #e41e26;
  line-height: 36px;
  top: 43%;
  right: -93px;
  cursor: pointer; }
  .slider__support i {
    font-size: 22.16px;
    line-height: 24.17px;
    margin-left: 15px; }

.slider__fix {
  text-align: right; }
  @media only screen and (min-width: 1200px) {
    .slider__fix {
      right: -195px; } }

.slider__arrows > .slick-arrow {
  position: absolute;
  z-index: 99;
  background-color: rgba(175, 176, 180, 0.5);
  border: none;
  width: 46px;
  height: 46px;
  cursor: pointer;
  top: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slider__arrows > .slick-arrow:hover {
    background-color: rgba(197, 197, 197, 0.5); }
  .slider__arrows > .slick-arrow img {
    width: auto; }

.slider__arrows > .slick-prev {
  left: 0; }
  @media only screen and (min-width: 768px) {
    .slider__arrows > .slick-prev {
      left: 2%; } }
  @media only screen and (min-width: 1200px) {
    .slider__arrows > .slick-prev {
      left: 8%; } }

.slider__arrows > .slick-next {
  right: 0; }
  @media only screen and (min-width: 768px) {
    .slider__arrows > .slick-next {
      right: 2%; } }
  @media only screen and (min-width: 1200px) {
    .slider__arrows > .slick-next {
      right: 8%; } }

@media only screen and (min-width: 768px) {
  .slider__content {
    margin-right: 65px; } }

@media only screen and (min-width: 1200px) {
  .slider__content {
    margin-right: 0; } }

.slider__content h1 {
  font-family: "Quicksand-Bold";
  font-size: 33.14px;
  color: #e31e24; }
  @media only screen and (min-width: 768px) {
    .slider__content h1 {
      font-size: 33.68px; } }
  @media only screen and (min-width: 1200px) {
    .slider__content h1 {
      font-size: 71px; } }
  .slider__content h1 span {
    font-size: 33.14px;
    color: #153a67; }
    @media only screen and (min-width: 768px) {
      .slider__content h1 span {
        font-size: 33.68px; } }
    @media only screen and (min-width: 1200px) {
      .slider__content h1 span {
        font-size: 71px; } }

.slider__content hr {
  width: 30px;
  height: 1px;
  background-color: #fff;
  margin: 0 0 10px 0; }
  @media only screen and (min-width: 768px) {
    .slider__content hr {
      width: 35px;
      height: 2px;
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 1200px) {
    .slider__content hr {
      width: 70px;
      height: 4px; } }

.slider__content p {
  color: #000;
  font-size: 17.74px;
  margin-bottom: 0;
  line-height: 24.74px; }
  @media only screen and (min-width: 768px) {
    .slider__content p {
      font-size: 18.03px;
      line-height: 25.14px; } }
  @media only screen and (min-width: 1200px) {
    .slider__content p {
      line-height: 53px;
      font-size: 38px; } }

.slider__content span {
  font-size: 21.47px;
  line-height: 27.07px;
  color: #dc0000;
  font-family: "RobotoCondensed-Bold"; }
  @media only screen and (min-width: 768px) {
    .slider__content span {
      font-size: 21.82px;
      line-height: 27.51px; } }
  @media only screen and (min-width: 1200px) {
    .slider__content span {
      line-height: 53px;
      font-size: 46px; } }

/*hot block*/
.hot {
  background-color: #153a67;
  min-height: 120px; }
  @media only screen and (min-width: 768px) {
    .hot {
      min-height: 100px; } }
  @media only screen and (min-width: 1200px) {
    .hot {
      min-height: 120px; } }
  .hot__block {
    max-width: 350px;
    width: 100%;
    color: #fff; }
  .hot__date {
    min-width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #4a90e6;
    border-radius: 5px;
    font-size: 20.54px;
    line-height: 30.11px;
    margin-right: 15px; }
    .hot__date:after {
      content: '';
      background: #5c7595;
      position: absolute;
      width: 60%;
      height: 1px;
      left: 50%;
      top: 48%;
      transform: translateX(-50%); }
  .hot__content {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 17px;
    line-height: 24px;
    color: #fff; }
    .hot__content:hover {
      color: #f0f0f0; }

/*introduce block*/
.introduce {
  line-height: 28px;
  padding: 40px 0; }
  @media only screen and (min-width: 1200px) {
    .introduce {
      padding: 70px 0;
      background: url(/pic/info.png) no-repeat;
      background-position: 76% 76%;
      background-size: 30%; } }
  .introduce__fix {
    width: 100%; }
    @media only screen and (min-width: 1200px) {
      .introduce__fix {
        max-width: 590px; } }
  .introduce span {
    font-family: "RobotoCondensed-Bold";
    font-size: 22px;
    color: #e31e24; }
  .introduce h3 {
    font-family: "RobotoCondensed-Bold";
    font-size: 30px;
    color: #153a67;
    margin: 12px 0 20px; }
    @media only screen and (min-width: 768px) {
      .introduce h3 {
        font-size: 40px; } }
  .introduce p {
    font-size: 15px;
    line-height: 22px;
    color: #666;
    margin-bottom: 20px; }
  .introduce__btn {
    font-family: "Roboto-Regular";
    line-height: 22px;
    font-size: 12px;
    padding: 15px 48px;
    border: 1px solid #153a67;
    border-radius: 3px;
    background-color: #fff;
    color: #153a67;
    text-transform: uppercase;
    margin: 5px 0 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .introduce__btn:hover {
      background-color: #153a67;
      color: #fff; }

/*video block*/
.video {
  background: url(/pic/banner/banner-01.jpg) no-repeat center;
  padding: 80px 0;
  color: #fff; }
  .video__play {
    width: 65px;
    height: 65px;
    border: 3px solid;
    border-radius: 50%;
    background-color: transparent;
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .video__play:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .video__title {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    font-family: "RobotoCondensed-Bold";
    max-width: 690px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 1200px) {
      .video__title {
        max-width: 965px; } }
  .video__decs {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    max-width: 690px; }
    @media only screen and (min-width: 1200px) {
      .video__decs {
        max-width: 965px; } }

/*reason block*/
.reason {
  background-color: #fbfbfb; }
  .reason__list {
    counter-reset: term;
    padding: 10px 0; }
  .reason__item {
    width: 100%;
    padding-left: 60px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) {
      .reason__item {
        width: 50%;
        padding-right: 20px; } }
    @media only screen and (min-width: 768px) {
      .reason__item {
        width: 33.3333%;
        padding-right: 20px; } }
    .reason__item h2 {
      font-size: 18px;
      line-height: 28px;
      color: #dc0000;
      font-family: "RobotoCondensed-Bold";
      margin-bottom: 2px; }
    .reason__item p {
      color: #666;
      font-size: 15px;
      line-height: 22px; }
    .reason__item:before {
      counter-increment: term;
      content: counter(term);
      font-size: 100px;
      font-family: "Quicksand-Bold";
      color: #ebebeb;
      position: absolute;
      left: 0;
      width: 55px;
      display: flex;
      justify-content: center;
      top: -12px;
      line-height: 1; }

/*program block*/
.program {
  margin-bottom: 30px; }
  @media only screen and (min-width: 1200px) {
    .program {
      margin-bottom: 50px; } }
  .program__post {
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      .program__post:first-child {
        padding-right: 10px; }
      .program__post:last-child {
        padding-left: 10px; } }
    @media only screen and (min-width: 1200px) {
      .program__post:first-child {
        padding-right: 30px; }
      .program__post:last-child {
        padding-left: 30px; } }
  .program__block {
    padding: 15px;
    text-align: center; }
  .program__shadow {
    box-shadow: 0px 0px 1px 1px #f9f9f9; }
  .program__title {
    font-family: "Roboto-Bold";
    font-size: 18px;
    line-height: 28px;
    color: #153a67; }
  .program__decs {
    font-size: 15px;
    line-height: 22px;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; }
  .program__btn {
    padding: 10px 15px;
    color: #153a67;
    border: 1px solid #153a67;
    background-color: #fff;
    font-family: "Roboto-Regular";
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer; }
    .program__btn:hover {
      background-color: #153a67;
      color: #fff; }
  .program__image {
    overflow: hidden; }
    .program__image img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .program__image:hover .program__image img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

/*achievement block*/
.achievement {
  background: url(/pic/banner/banner-02.jpg) no-repeat center;
  color: #fff;
  background-size: cover; }
  .achievement h2 {
    font-size: 30px;
    line-height: 34px;
    font-family: "RobotoCondensed-Bold";
    padding: 20px;
    text-align: center;
    max-width: 220px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 50px 0 20px; }
    @media only screen and (min-width: 768px) {
      .achievement h2 {
        max-width: 100%; } }
  .achievement p {
    font-size: 15px;
    line-height: 22px;
    text-align: center; }
  .achievement__block {
    margin-bottom: 30px; }
    .achievement__block:before {
      content: '';
      width: 40px;
      height: 2px;
      background-color: #e31e24;
      position: absolute;
      bottom: 0; }
  .achievement__number {
    font-size: 40px;
    line-height: 22px;
    font-family: "Roboto-Bold";
    padding: 20px 0; }
  .achievement__text {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px; }
    @media only screen and (min-width: 1200px) {
      .achievement__text {
        padding-bottom: 0;
        padding-left: 20px; } }

/*coach block*/
.coach {
  margin-bottom: 30px; }
  .coach__team {
    margin-top: 40px; }
  .coach__avatar {
    padding: 0 20px; }
  .coach__info {
    border-top: 4px solid #153a67;
    padding: 20px;
    background-color: #f5f5f5; }
  .coach__name {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    color: #333;
    font-family: "Roboto-Bold"; }
    .coach__name--white {
      color: #fff; }
  .coach__level {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-bottom: 10px; }
    .coach__level--blue {
      color: #4a90e6; }
  .coach__block {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    bottom: -250px;
    padding: 17px;
    left: 0;
    background-color: #153a67; }
  .coach__detail {
    font-size: 14px;
    line-height: 20px;
    color: #fff; }
  .coach__item {
    padding: 0 10px;
    cursor: pointer; }
    .coach__item:hover .coach__block {
      bottom: 0; }
  .coach__dots {
    margin: 15px 0; }
    .coach__dots ul {
      display: flex;
      justify-content: center; }
    .coach__dots li.slick-active button {
      background-color: #e31e24; }
    .coach__dots button {
      width: 10px;
      height: 10px;
      line-height: 0;
      text-indent: -99999999999px;
      padding: 0;
      background-color: #d6d6d6;
      border: none;
      margin: 0 3px;
      cursor: pointer; }

/*feel block*/
.feel {
  color: #fff;
  background: url(/pic/banner/banner-03.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0 50px; }
  .feel__break {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 1px; }
    .feel__break:before {
      border-top: 1px dashed #ea8d90;
      content: "";
      position: absolute;
      width: 15px;
      left: 0;
      top: 0; }
    .feel__break:after {
      border-top: 1px dashed #ea8d90;
      content: "";
      position: absolute;
      top: 0;
      left: 54px;
      width: 100%; }
  .feel h2 {
    font-family: "RobotoCondensed-Bold";
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; }
  .feel__avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden; }
  .feel__block {
    margin-top: 40px; }
    .feel__block--top:before {
      content: '\f10e';
      font-family: FontAwesome;
      position: absolute;
      left: 45px;
      top: -10px;
      background: #e31e24;
      display: block;
      border-radius: 50%;
      z-index: 99999999999999999999999999;
      width: 26px;
      line-height: 26px;
      text-align: center;
      border: 2px solid #fff;
      box-sizing: content-box; }
    .feel__block--bottom {
      padding: 20px;
      margin: 40px 0 20px;
      border: 1px dashed #ea8d90;
      border-radius: 3px;
      font-size: 15px;
      line-height: 24px;
      border-top: none; }
      .feel__block--bottom:before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        top: -15px;
        left: 22px;
        border-top: 1px dashed #ea8d90;
        border-right: 1px dashed #ea8d90;
        z-index: 9999;
        transform: rotate(-45deg);
        background: transparent; }
  .feel__info {
    margin-left: 20px; }
    .feel__info h4 {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 5px;
      font-family: "Roboto-Bold"; }
    .feel__info p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0; }
  .feel .slick-slide {
    padding: 10px; }
  .feel__dots ul {
    display: flex;
    justify-content: center; }
  .feel__dots li.slick-active button {
    background-color: #e27174; }
  .feel__dots button {
    width: 10px;
    height: 10px;
    line-height: 0;
    text-indent: -99999999999px;
    padding: 0;
    background-color: #b32529;
    border: none;
    margin: 0 3px;
    cursor: pointer; }

/*news block*/
.news {
  margin-bottom: 45px; }
  .news__block {
    padding: 15px; }
    .news__block:hover .news__shadow {
      box-shadow: 0 0 5px 1px #cbcbcb; }
    .news__block:hover .news__img img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .news__shadow {
    box-shadow: 0 0 5px 1px #f4f4f4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .news__info {
    padding: 15px; }
  .news__title {
    color: #000;
    line-height: 20px;
    font-size: 16px;
    font-family: "Roboto-Bold";
    display: block;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .news__title:hover {
      color: #e31e24; }
  .news__decs {
    font-size: 15px;
    line-height: 22px;
    color: #666; }
  .news__img {
    overflow: hidden; }
    .news__img img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

/*images block*/
.images {
  background-color: #153a67;
  padding: 1px 0; }
  .images .general__header h1, .images .general__header p {
    color: #fff;
    max-width: 100%; }
  .images .general__line {
    color: #4a90e6; }
    .images .general__line:after {
      border-color: #4a90e6; }
    .images .general__line:before {
      border-color: #4a90e6; }
  .images__img {
    background: url(/pic/background.png) no-repeat;
    background-size: contain; }
  .images__item {
    height: 310px;
    overflow: hidden;
    cursor: pointer; }
    @media only screen and (min-width: 1200px) {
      .images__item {
        height: 370px; } }
  .images__list {
    height: 309px; }
    @media only screen and (min-width: 1200px) {
      .images__list {
        height: 368px; } }

/*brand block*/
.brand__item {
  padding: 10px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .brand__item {
      padding: 15px; } }
  @media only screen and (min-width: 1200px) {
    .brand__item {
      padding: 20px; } }

/*footer block*/
.footer {
  background: url(/pic/footer-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  padding-top: 45px; }
  .footer__title {
    font-size: 20px;
    line-height: 28px;
    font-family: "RobotoCondensed-Bold";
    padding: 15px 0; }
  .footer p {
    margin-bottom: 10px; }
  .footer__link {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 30px; }
    .footer__link:hover {
      color: #4a90e6; }
    .footer__link--red {
      color: #e41e26; }
  .footer__hotline {
    padding: 10px;
    bottom: 0;
    background-color: #124784;
    width: 100%;
    left: 0;
    z-index: 999999;
    position: fixed; }
    @media only screen and (min-width: 768px) {
      .footer__hotline {
        position: relative;
        background-color: rgba(74, 144, 230, 0.4);
        width: max-content;
        margin-top: 5px; } }
    .footer__hotline--text {
      line-height: 24px;
      padding: 0 10px; }
      .footer__hotline--text p {
        margin-bottom: 0; }
      .footer__hotline--text span {
        font-size: 20px;
        font-family: "RobotoCondensed-Bold"; }
    .footer__hotline--icon {
      width: 50px;
      height: 50px; }
      .footer__hotline--icon i {
        font-size: 49.11px;
        line-height: 25.26px;
        color: #e41e26;
        top: -3px; }
      .footer__hotline--icon:after {
        content: '\f095';
        font-family: FontAwesome;
        position: absolute;
        font-size: 24px; }
  .footer__fanpage {
    margin-bottom: 15px; }
  .footer__social {
    width: 25px;
    height: 25px;
    margin-right: 5px; }
  .footer__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    color: #999;
    font-size: 15px;
    line-height: 28px;
    padding: 10px 0;
    margin: 30px 0 70px; }
    @media only screen and (min-width: 768px) {
      .footer__bottom {
        margin: 70px 0 0; } }

/*other*/
.scroll {
  opacity: 0;
  right: 3%;
  bottom: 11%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-family: "RobotoCondensed-Bold";
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999999999999; }
  @media only screen and (min-width: 1200px) {
    .scroll {
      bottom: 20%; } }
  .scroll:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  .scroll i {
    font-size: 25px; }

.message {
  cursor: pointer;
  bottom: 0;
  right: 20px;
  height: 48px;
  min-width: 230px;
  color: #fff;
  font-size: 16px;
  line-height: 24px; }
  .message span {
    font-family: "Roboto-Bold"; }
